<section id="main">
    <article class="article article-type-post" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            <div class="article-entry" itemprop="articleBody">
                <p>
                    <h1>Welcome to Deliberate Software!</h1>
                    <h2>My Philosophy</h2>

                    <div class="widget">
                        <ul id="recent-post">
                            <li>
                                <div class="item-thumbnail">
                                    <a href="" class="thumbnail">
                                        <span style="background-image:url({{ $.Site.BaseURL }}images/icons/1455995963_grid-small.png)" alt="test" class="thumbnail-image"></span>
                                    </a>
                                </div>
                                <div class="item-inner">
                                    <p class="item-title"><a href="test" class="title">TDD</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </p>
                <p class="article-more-link">
                    <a href="">
                        LINKTS
                    </a>
                </p>
            </div>
        </div>
    </article>
</section>
<!-- // main section -->
